<h1><%= link_to @board.title, edit_board_path %></h1>
  <%= link_to "新規リスト作成", new_board_list_path(@board.id), class: "text-right text-base" %>
  <% if @lists.present? %>
    <% @lists.each do |list| %>
      <p>
        <%= link_to list.content, edit_board_list_path(@board.id, list.id) %>
        <% list.cards.each do |card| %>
          <%= link_to card.task, edit_board_list_card_path(@board.id, list.id, card.id) %>
        <% end %>
        <%= link_to "新規カード作成", new_board_list_card_path(@board.id, list.id) %><hr>
      </p>
    <% end %>
  <% else %>
    <h1>リストを作成してください。</h1>
  <% end %>
