<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse bg-yellow-200 text-4xl">
      <%= link_to "todo app", root_path, id: "logo" %>
      <% if current_user.present? %>
        <%= button_to "ログアウト", destroy_user_session_path, class: "text-right text-base", method: :delete %>
        <%= current_user.name %>
      <% else %>
        <%= link_to "ログイン", user_session_path, class: "text-right text-base" %>
      <% end %>
      <%= link_to "新規ボード作成", new_board_path, class: "text-right text-base" %>
      <%= link_to "新規リスト作成", new_list_path, class: "text-right text-base" %>
      <%= link_to "ボード一覧", boards_path, class: "text-right text-base" %>
      <%= link_to "ユーザー一覧", groups_path, class: "text-right text-base" %>

    </header>
    <%= yield %>
  </body>
</html>
